header {
    position: fixed;
    z-index: 10;
    left: 0rem;
    top: 0rem;
}

#upper {
    position: absolute;
    top: 0rem;
    left: 0rem;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    background-color: white;
}

#upper img#phoneF1 {
    display: none;
}

#upper .FiA {
    width: 4rem;
    height: 3rem;
    margin-top: 0.3rem;
    opacity: 0.5;
}

#upper .FiA:hover {
    opacity: 1;
    cursor: pointer;
}

#upper .F1TV {
    height: 3.5rem;
    width: 5.5rem;
    margin: -1rem 0.5rem;
    margin-right: 1rem;
}

#upper ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

#upper ul li {
    padding: 0rem 1rem;
}

#upper ul.Tickets {
    position: relative;
    right: -30rem;
}

#upper ul.F a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Righteous', cursive;
    color: black;
    opacity: 0.5;
}

#upper ul.F a:hover {
    opacity: 1;
}

#upper ul.F a:active {
    opacity: 1;
}

#upper ul.Tickets a {
    text-decoration: none;
    color: black;
    font-family: 'Righteous', cursive;
    font-size: 0.8rem;
    opacity: 0.5;
}

#upper ul.Tickets a:hover {
    opacity: 1;
    color: rgb(218, 19, 19);
    text-decoration: underline;
}

#upper button {
    width: 6rem;
    height: 3rem;
    margin: -0.8rem 0.1rem;
    border-radius: 0.7rem;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;

}

button#signin {
    color: white;
    background-color: black;
    transition: all 0.3s;
    border: 2px solid black;
}

button#signin:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

button#subscribe {
    background-color: rgb(218, 19, 19);
    color: white;
    border: 2px solid rgb(218, 19, 19);
    transition: all 0.3s;
}

button#subscribe:hover {
    background-color: white;
    color: rgb(218, 19, 19);
    cursor: pointer;
}

#upper button i {
    margin-right: 0.3rem;
}

#upper button#loginphone {
    display: none;
}
section#undernav {
    display: flex;
    position: absolute;
    left: 0rem;
    top: 3.5rem;
    width: 100vw;
    height: 6rem;
    background-color: rgb(218, 19, 19);
}

section#undernav img {
    height: 6rem;
}

section#undernav ul.underhead {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

section#undernav ul.underhead a {
    text-decoration: none;
    margin: 0rem 1rem;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 1.1rem;
    font-weight: 200;
}

section#undernav ul.underhead i {
    font-size: 11px;
}

section#undernav ul.underhead a:hover {
    color: rgb(190, 190, 190);
}



@media screen and (max-width:1025px) {
    body {
        background-color: black;
    }

    #upper img#phoneF1 {
        display: block;
        height: 4rem;
        margin: auto;
    }

    #upper .FiA {
        display: none;
    }

    #upper button#loginphone {
        display: inline;
        position: absolute;
        right: 0rem;
        top: 1.2rem;
        background-color: black;
        width: 3rem;
    }

    #upper button#loginphone i {
        filter: invert(100%);
    }

    #upper {
        background-color: rgb(218, 19, 19);
    }

    #upper ul {
        display: none;
    }

    #upper img.FiA {
        filter: invert(100%);
        opacity: 0.8;
    }
    section#undernav {
        display: none;
        
    }

}