doctype html 
html
  head
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    title F1
    block scripts
    block style
  body
     <header>
        <nav id="upper">
            <img class="FiA" src="\static\FiA.png" alt="">
            <img id="phoneF1" src="\static\F1.png" alt="">
            <ul class="F">
                <li><a href="/">F1</a></li>
                <li><a href="/F2">F2</a></li>
                <li><a href="/F3">F3</a></li>
            </ul>
            <button id="loginphone"><i class="fa fa-user-circle"></i></button>
            <ul class="Tickets">
                <li><a href="Store.html">Store</a></li>
                <li><a href="Tickets.html">Tickets</a></li>
                <li><a href="Experiences.html">Experiences</a></li>
                <img src="\static\F1TV1.jpg" alt="" class="F1TV">
                <button id="signin"><i class="fa fa-user-circle"></i>SIGN IN</button>
                <button id="subscribe">SUBSCRIBE</button>
            </ul>
        </nav>
        <section id="undernav">
            <img src="\static\F1.png" alt="">
            <ul class="underhead">
                <li><a href="">Latest <i class="fa fa-chevron-down"></i></a></li>
                <li><a href="">Video <i class="fa fa-chevron-down"></i></a></li>
                <li><a href="">Schedule</a></li>
                <li><a href="">Standings <i class="fa fa-chevron-down"></i></a></li>
                <li><a href="">Drivers <i class="fa fa-chevron-down"></i></a></li>
                <li><a href="">Teams <i class="fa fa-chevron-down"></i></a></li>
                <li><a href="">Gaming <i class="fa fa-chevron-down"></i></a></li>
                <li><a href="">Live Timing</a></li>
                <li><a href="">Newsfeed</a></li>
            </ul>
        </section>
        </header>
        block content
        block footer 
        footer 
            <img src="\static\F1.png" alt="">
            <p>© 2003-2021 Formula One World Championship Limited</p>