footer{
    background: url(/static/bg2.jpg);
    position: absolute;
    top: 220rem;
    left:0rem;
    width: 100vw;
    height: 17rem;
}
footer img{
    filter: invert(100%);
    position: absolute;
    top: 5rem;
    left:7rem;
}
footer #right{
    position: absolute;
    right:5rem;
    top:4rem;
    width: 18rem;
}
footer ul{
    list-style: none; display: flex; position: relative; left:-3rem;
}
footer ul li{
    margin:0rem 1rem;
    background-color: grey;
    height:3rem;
    width:3rem;
    text-align: center;
    border-radius: 2rem;
    transition: all 0.7s;
}
footer ul li:hover{
    background-color: rgb(70, 116, 177);cursor: pointer;
}
footer i{
    color: white;
    padding: 0.5rem;
    text-align: center;
}
footer #underimg{
    width: 17rem;
    position: absolute;
    top:9rem;
    left:7rem;
    color: rgb(218, 232, 247);
    font-family: 'Lato', sans-serif;
    font-size: small;
}
footer p#up{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: large;
    font-weight: bold;
}
footer p#down{
    width:18rem;
    color: white;
    font-family: 'Lato', sans-serif;

}

@media screen and (max-width:1025px){
    footer{
        top:373rem;
        width:108vw;
    }
    footer #underimg{
        display: none;
    }
    footer #down{
        display: none;
    }

}