#sec1{
    z-index: -1;
    position: absolute;
    top:0rem;
    left:0rem;
    width:100vw;
    height: 42rem;
    background: url(/static/bg1.jpg);
    justify-content: center;
}
img#dancer{
    position: absolute;
    top:5rem;
    right:4rem;
    height: 35rem;
    width: 45rem;
    animation: expand 7s infinite ;
}
@keyframes expand{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.08);
    }
}
#sec1 div p{
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 5rem;
    font-weight: 900;
    position: absolute;
    top:5rem;
    left:13rem;
    width:36rem;
}
span#countdown{
    display: flex;
    justify-content: center;
    color: rgb(54, 81, 133);
    font-family: 'Lato', sans-serif;
    font-size: 5rem;
    font-weight: 400;
    position: absolute;
    top:22rem;
    left:13rem;
    width:36rem;
}
span#belowcountdown{
    display: flex;
    justify-content: center;
    color:black;
    font-family: 'Lato', sans-serif;
    font-size: 0.6rem;
    font-weight: 900;
    position: absolute;
    top:28rem;
    left:13rem;
    width:36rem;

}
span#location{
    height: 3rem;
    font-family: 'Lato', sans-serif;
    position: absolute;
    top:7.5rem;
    left:13rem;
}
#location i{
    font-size: 2rem;
    color: chocolate;
}
#location a{
    text-decoration: none;
    color:black;
}
#sec2{
    background-color:rgb(247, 242, 242);
    position:absolute;
    top:42rem;
    left:0rem;
    display: flex;
    flex-wrap: wrap;
    width:100vw;
    justify-content: center;
}
#sec2 .serv{
    width:15rem;
    margin:7rem 5rem;
}
#sec2 i{
    font-size: 3rem;
    color: rgb(184, 211, 212);
    display: flex;
    justify-content: center;
}
#sec2 i:hover{
    color: rgb(150, 150, 150);
    cursor: pointer;
}
#sec2 div p#main{
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
#sec2 div p#sub{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: smaller;
}
#sec3{
    position: absolute;
    left:0rem;
    top:63rem;
    background-color:white;
    width: 100vw;
}
#sec3 h1{
    font-size: 2.5rem;
    margin-top: 7rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
#sec3 h1+p{
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 46rem;
    display: block;
    margin:3rem auto;
    color: rgb(139, 139, 139);
}
#sec3 ul{
    justify-content: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
#sec3 ul li{
    background-color: white;
    transition: all 0.7s;
}
#sec3 ul li:hover{
    transform: scale(1.0000001);
    box-shadow: 1px 1px 4px 4px rgb(163, 161, 161);
} 
#sec3 ul li:hover #contact i{
    display: inline;
}
#sec3 p.name{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: x-large;
}
#sec3 p.sub{
    margin-top: -1rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: small;
    padding-bottom: 2rem;
}
#sec3 #contact{
    display: flex;
    flex-direction: column;
    position: absolute;
}
#sec3 #contact i{
    position: relative;
    display: none;
    top:0.5rem;
    margin:0.6rem 1rem;
    font-size: x-large;
    color: rgb(161, 161, 161);

}
#sec3 #contact i:hover{
    color: rgb(65, 63, 63);
    cursor: pointer;
}
#sec4{
    position: absolute;
    background-color: rgb(247, 242, 242);
    top:132rem;
    left:0rem;
    width: 100vw;
}
#sec4 h1{
    font-size: 2rem;
    margin-top: 7rem;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
#sec4 h1+p{
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 50rem;
    display: block;
    margin:3rem auto;
    color: rgb(139, 139, 139);
}
#sec4 .class{
    background-color: white;
    width: 60vw;
    margin-left: 5rem;
    border-bottom: 1px solid rgb(216, 214, 214);
}
#sec4 .class:hover{
    transform: scale(1.0005);
    box-shadow: 1px 1px 2px 2px rgb(187, 186, 186);
}
#sec4 #class3_3{
    position: relative;
    left: -3.5rem;
    top: 8rem;
}
#sec4 .info{
    position: relative;
    top:-4rem;
    left:15rem;
    width: 30rem;
    font-family: 'Lato', sans-serif;
}
#sec4 a{
    text-decoration: none;
    color: black;
    transition: all 0.7s;
}
#sec4 p.name a:hover{
    color: rgb(76, 134, 145);
}
#sec4 p.inst a:hover{
    color: rgb(76, 134, 145);
}
#sec4 .timing{
    color: rgb(61, 60, 60);
}
#sec4 .name{
    font-size: x-large;
    font-weight:500;
}
#sec4 p.inst a{
    color: rgb(137, 161, 206);
}
#sec4 img{
    position: relative;
    top:4rem;
    left: 4rem;
}
#sec4 #book{
    position: absolute;
    background-color: black;
    right:11.5rem;
    border-bottom-right-radius: 20px;
}
#sec4 #book ul {
    list-style: none;
  }  

#sec4 #book ul li{
    margin:3.1rem 1rem;
    margin-left: 0.2rem;
    width: 14rem;
}
#sec4 #book ul span{
    color: coral;
}
#sec4 #book ul li a{
    color: rgb(95, 93, 93);
    font-size: large;
    font-weight: bold;
    font-family: 'Lato', sans-serif;

}
#sec4 #book ul li{
   padding-top: 0.5rem;
   padding-left: 0.5rem;
}
#sec4 #book button{
    width:18.5rem;
    height: 3rem;
    font-family: 'Lato', sans-serif;
    background-color: rgb(114, 157, 214);
    color: rgb(228, 224, 224);
    font-weight: 900;
    border:none;
    border-bottom-right-radius:20px ;
    transition: all 0.7s;
}
#sec4 #book button:hover{
    background-color: rgb(77, 74, 74);
    cursor: pointer;
}
#sec4 span{
    position: absolute;
    margin-bottom: 0.2rem;
    left:0.8rem;
    font-size: xx-large;
    font-weight:900;
}
#sec4 #book ul li a:hover{
    color:rgb(212, 212, 212)
}

@media screen and (max-width:1025px){
    #dancer{
        z-index: -1;
        margin-right: 7rem;
        opacity: 0.7;
    }
    #sec1{
        width: 108vw;
    }
    #sec2{
        width: 108vw;
    }
    #sec3{
        width: 108vw;
    }
    #sec2 .serv{
        width:80vw;
    }
    #sec2 #sub{
        padding:0rem 13rem;
    }
    #sec2 .serv{
        margin:3rem 2rem;
    }
    #sec3{
        top:91rem
    }
    #sec3 li{
        margin:0rem 7rem;
    }
    #sec3 img{
        margin: auto;
        display: block;
    }
    #sec4{
        top: 258rem;
        width: 108vw;
    }
    #sec4 .class{
        position: relative;
        top:27rem;
        width: 100vw;
    }
    #sec4 #book{
        display: block;
        margin-right:5rem;
        width: 50vw;
        align-items: center;
    }
    #sec4 #book ul li{
        margin-left: 8rem;
    }
    #sec4 #book ul span {
        margin-left: 7rem;
    }
    #sec4 #book button{
        width:30.8rem;
    }

}